.post-section-header {
  background-color: var(--mantine-color-blue-3);
  color: var(--mantine-color-white);
}

.post-header {
  background-color: var(--mantine-color-blue-7);
}

.post-box {
  box-shadow: 1px -1px 0.1875rem rgba(0, 0, 0, 0.1), -1px 1px 0.1875rem rgba(0, 0, 0, 0.1)
}

.round-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.popup {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  background-color: var(--mantine-color-white);
  bottom: 0;
  padding: 10px;
}