.container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 80%;
  /* Ajustez la largeur selon vos besoins */
  background-color: var(--mantine-color-white);
  /* Couleur de fond similaire à Facebook */
  margin-top: 7%;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
}

.title-editor,
.text-editor {
  width: 100%;
  margin-bottom: 0;
}

.title-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.editor-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;

}

.post-section-header {
  background-color: var(--mantine-color-blue-3);
  color: var(--mantine-color-white);
}

.post-header {
  background-color: var(--mantine-color-blue-7);
}

.post-box {
  box-shadow: 1px -1px 0.1875rem rgba(0, 0, 0, 0.1), -1px 1px 0.1875rem rgba(0, 0, 0, 0.1)
}

.round-button {
  position: fixed;
  bottom: 20px;
  right: 20px;

  box-shadow: 5px 5px 0.1875rem rgba(0, 0, 0, 0.2);
}

.popup {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  background-color: var(--mantine-color-white);
  bottom: 0;
  padding: 10px;
}