.container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 80%;
  /* Ajustez la largeur selon vos besoins */
  background-color: var(--mantine-color-white);
  /* Couleur de fond similaire à Facebook */
  margin-top: 7%;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
}

.title-editor,
.text-editor {
  width: 100%;
  margin-bottom: 0;
}

.title-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.editor-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.preview {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.post {
  margin-bottom: 20px;
  background-color: var(--mantine-color-white);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
}

.header {
  font-size: 14px;
  color: var(--mantine-color-dimmed);
}

.post-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styles facultatifs pour une apparence plus moderne et aérée */
.row {
  gap: 20px;
  /* Espacement entre l'éditeur et la prévisualisation */
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    /* Passer à une disposition de colonne sur les écrans plus petits */
  }

  .editor,
  .preview {
    width: 100%;
    /* Occuper la largeur complète sur les écrans plus petits */
  }
}

.round-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  bottom: 20px;
  right: 20px;

  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  background-color: var(--mantine-color-white);
  bottom: 0;
  padding: 10px;
}