body {
    --color-s5: #0077b6;
    --color-s6: #7209b7;
    --color-s7: #ef233c;
    --color-s8: #f18701;
    --color-s9: #ffd166;
    --color-s10: #99d98c;

    background: var(--SIGL_Main, #F4F8FF);
    height: max-content;
}



/* Anchor styling  */

a {
    color: var(--mantine-color-blue-5);
}

a:visited {
    color: var(--mantine-color-blue-9);
}

.pass-visible {
    cursor: pointer;
    display: flex;
}



/* Modal styling */

.mantine-Modal-content {
    border-radius: 15px;
}

.mantine-Modal-body {
    padding: 0px;
}

.mantine-Modal-header {
    background-color: var(--mantine-color-blue-7);
}

.mantine-Modal-title,
.mantine-Modal-close {
    color: var(--mantine-color-white);
}

.mantine-Modal-title {
    font-weight: bold;
}


/* App container */

.app {
    margin-top: 8rem;
    margin-left: 14rem;
    margin-right: 1rem;
}


/* Accordion */

.mantine-Accordion-control {
    border-radius: 5px;
    background-color: var(--mantine-color-blue-7);
    color: var(--mantine-color-white);
}


/* Semestres */

.S5 {
    background-color: var(--color-s5);
    color: var(--mantine-color-white);
}

.S6 {
    background-color: var(--color-s6);
    color: var(--mantine-color-white);
}

.S7 {
    background-color: var(--color-s7);
    color: var(--mantine-color-white);
}

.S8 {
    background-color: var(--color-s8);
    color: var(--mantine-color-black);
}

.S9 {
    background-color: var(--color-s9);
    color: var(--mantine-color-black);
}

.S10 {
    background-color: var(--color-s10);
    color: var(--mantine-color-black);
}