body {
    font-family: League Spartan;
    background: var(--SIGL_Main, #F4F8FF);
}

a {
    color: var(--mantine-color-blue-5);
}

a:visited {
    color: var(--mantine-color-blue-9);
}

.app{
    margin-top: 7rem;
    margin-left: 14rem;
    margin-right: 1rem;
}