.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: var(--mantine-color-blue-9);
    color: var(--mantine-color-white);
    z-index: 100;
}

.menu-title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-right: auto;
}

.menu-user {
    margin-left: auto;
    margin-right: 20px;
}

.menu-image {
    background-color: var(--mantine-color-white);
    border-radius: 5px;
    padding: 5px;
}